<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Super Hero Archive</title>
</head>
<body>
<h1>Hero Details</h1>
<ul>
<table class="hero_detail">
    <thead>
            <th>Super Hero Name</th>
            <th>Alter Ego</th>
            <th>Primary Ability</th>
            <th>Secondary Ability</th>
            <th>Catch Phrase</th>


        </thead>

    <tr>

        <td>Name:</td>
        <td>{superhero.alter_ego}</td>
        <td>{superhero.primary_ability}</td>
        <td>{superhero.secondary_ability}</td>
        <td>{superhero.catch_phrase}</td>
        </tr>

</table>

</body>
</html>