<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Super Hero Archive</title>
</head>
<body>
<h1>Hero Details</h1>
<ul>

    <li><h2>{{superhero.name}}
        {{superhero.alter_ego}}}
        {{superhero.primary_ability}}
        {{superhero.secondary_ability}}
        {{superhero.catch_phrase}} </h2>
    </li>
    {% endfor %}
</ul>
</body>
</html>