<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Super Hero Archive</title>
</head>
<body>
<h1>List of Super Heroes</h1>
<ul>
    {% for superhero in all_superheroes %}
    <li><h2>{{superhero.name}} </h2>
    <a href="{% url 'superheroes:superhero_detail' superhero.id %}">See more info</a></li>
    {% endfor %}
</ul>

</body>
</html>