{% extends 'base.html' %}
{% block title %}Super Hero Archive{% endblock title %}
{% block nav-style %}{% endblock nav-style %}

{% block content %}


<h1>List of Super Heroes</h1>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'superheroes:create_new_superhero' %}">Create New Hero <span class="sr-only"></span></a>
      </li>
     </ul>
  </div>
</nav>
<div class="list-group">
    <a class="list-group-item list-group-item-action active">
     Super Heroes List
     </a>
    {% for superhero in all_superheroes %}
    <h2>{{superhero.name}} </h2>
    <a href="{% url 'superheroes:superhero_detail' superhero.id %}">See more info</a></li>

    {% endfor %}
</div>


{% endblock content %}
